* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin-left: auto;
  padding: 20px;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav img {
  height: 20px;
}

main img {
  height: 100px;
}
main {
  width: 50%;
  margin: 140px auto;
  text-align: center;
}
input {
  width: 80%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid grey;
}

.btn {
  margin-top: 10px;
}

.btn button {
  padding: 10px;
  border: none;
}

footer {
  background-color: rgb(223, 221, 221);
}
.top-footer {
  padding: 10px;
}
.footer-bottom {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
}

.left a {
  margin-right: 10px;
}

.right {
  margin-right: 10px;
}
